body {
    background-color: #21201f;
    font-size: 25px;
    font-family: Monaco, monospace;
    color: aliceblue;
    text-align: center;
}

nav ul
{
    list-style-type: none;
    margin: 0px;
    padding: 0;
    overflow:hidden;
    position:fixed;
    bottom:0;
    width:100%;
    text-align: center;
}
nav li{

    display:inline-block;
    align-items: center;
}
nav li a {
    display:block;
    color: aliceblue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
}
nav li a:hover{
    color: lightblue;
}

.div_img{
    float: right;
    border: 4px solid black;
}

.text{
    text-align: center;
    margin-top: 15%;
    float: left;
    color:aliceblue;
    font-size: 55px;
    letter-spacing: 10px;
    opacity: 0;
    animation: fadeIn 3s ;
    -webkit-animation: fadeIn 3s ;
    animation-fill-mode: forwards;
}

@keyframes fadeIn
{
    from {opacity:0;}
    to   {opacity:1;}
}
@-webkit-keyframes fadeIn
{
    from {opacity:0;}
    to   {opacity:1;}
}

.container{
    width:1440px;
    max-width:100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
}


.info_p{
    text-align: center;
    padding: 3%;
}

.info_box
{
    color:aliceblue;
    padding-bottom: 10%;

}

.info_box li{
    text-align: center;
}
.info_box h2{
    padding-top: 1%;
    text-align: center;
    color: lightgreen;
    font-size: 35px;
}
.info_box hr{
    border: 1px dashed lightgreen;
    width: 50%;
}

.info_box h1{
    text-align: center;
    font-size: 70px;
    padding: 20%;
    padding-bottom: 35%;

}

.info_box_li{
    list-style-type: none;
}

.project{
    text-align: center;
    width: 50%;
    border: 5px solid lightgreen;
    margin-left: auto;
    padding: 0% 3% 2%;
    margin-right: auto;
    margin-bottom: 5%;
    overflow: auto;
}

.project_text{
    color: white;
    float:left;
    text-align: left;
}
.project h1{ color:rgb(142, 253, 184)}
.project_img{
    width:35%;
    height: 70%;
    float:right;    
    border: 2px groove black;
}
.footnote{
    text-align: center;
    margin-bottom: 5%;
}
.footnote a{
    color:rgb(47, 189, 101);
    text-decoration: none;
}
.footnote a:hover{
    color:rgb(41, 216, 108);
}
.footnote hr{
    width: 50%;
    border: 1px dashed rgb(47, 189, 101);
}

.contact{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    overflow: hidden;
    
}

h1.contact{
    color: rgb(41, 216, 108);
    padding-bottom: 2%;
}

.contact p{
    line-height: 50px;
}
.contact img{
    float:left;
    padding-bottom: 5%;
}