body {
    background-color: #21201f;
}

ul
{
    list-style-type: none;
    margin: 0px;
    padding: 0;
    overflow:hidden;
    position:fixed;
    bottom:0;
    width:100%;
    text-align: center;
    font-family: Monaco, monospace;
}
li{

    display:inline-block;
    align-items: center;
}
li a {
    display:block;
    color: aliceblue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.div_img{
    float: right;
    border: 4px solid black;
}

.text{
    text-align: center;
    font-family: Monaco, monospace;
    margin-top: 15%;
    float: left;
    color:aliceblue;
    font-size: 55px;
    letter-spacing: 10px;
}

.container{
    width:1440px;
    max-width:100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
}